<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>eMart</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">

    <div class="row align-items-md-stretch">
        <div class="col-md-12">
            <div class="h-100 p-5 text-white bg-dark rounded-3 mt-5">
                <h2>Welcome to Badminton World</h2>
                <p>Please Login or Register to continue</p>
                <a class="btn btn-outline-light" th:href="@{/register}">Register</a>
                <a class="btn btn-outline-light" th:href="@{/login}">Login</a>
            </div>
        </div>
    </div>



</div>

</body>
</html>