<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid">
    <div class="text-center m-3">
        <h2>[[${pageTitle}]]</h2>
    </div>

    <form th:action="@{/shoes/save}" method="post" th:object="${shoe}"
    style="max-width: 600px;margin: 0 auto">
        <input type="hidden" th:field="*{id}">
<div class="border border-info rounded p-3">
    <div class="form-group row m-2">
        <lable class="col-sm-4 col-form-label">Name</lable>
        <div class="col-sm-8">
            <input type="text" th:field="*{name}" class="form-control" required maxlength="45"/>
        </div>
    </div>
    <div class="form-group row m-2">
        <lable class="col-sm-4 col-form-label">Brand</lable>
        <div class="col-sm-8">
            <input type="text" th:field="*{brand}" class="form-control" required maxlength="45"/>
        </div>
    </div>
    <div class="form-group row m-2">
        <lable class="col-sm-4 col-form-label">Type</lable>
        <div class="col-sm-8">
<!--            <input type="text" th:field="*{type}" class="form-control" required maxlength="45"/>-->
            <select th:field="*{type}" class="form-control" required  >
                <option value="Junior">Junior</option>
                <option value="Adult">Adult</option>
                <option value="Women">Women</option>
            </select>
        </div>
    </div>
    <div class="form-group row m-2">
        <lable class="col-sm-4 col-form-label">Unit Price</lable>
        <div class="col-sm-8">
            <input type="number" step="0.01" min="0" th:field="*{unitPrice}" class="form-control" required max="99999"/>
        </div>
    </div>
    <div class="form-group row m-2">
        <lable class="col-sm-4 col-form-label">Available Quantity</lable>
        <div class="col-sm-8">
            <input type="number" min="0" th:field="*{availableQuantity}" class="form-control" required max="99999"/>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary m-2">Save</button>
        <button type="button" class="btn btn-danger m-2" onclick="cancelForm()">Cancel</button>
    </div>
</div>
    </form>
    
</div>
<script type="text/javascript">
    function cancelForm(){
        window.location="[[@{/shoes}]]";
    }
</script>
</body>
</html>