<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Shoes</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://d1nhio0ox7pgb.cloudfront.net/_img/o_collection_png/green_dark_grey/512x512/plain/badminton_racket.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
            Badminton World
        </a>
        <p class="m-2">
            Welcome <b>[[${#request.userPrincipal.principal.usersName}]]</b>
        </p>
        <form th:action="@{/logout}" method="post">
            <input class="btn btn-info" type="submit" value="Log Out"/>
        </form>
    </div>
</nav>
<div class="container-fluid text-center">

    <div class="row m-2">
        <div class="col-8 mt-2">
            <h2>Manage Shoes</h2>
        </div>
        <div class="col-4">
            <a class="btn btn-info m-2" th:href="@{'/shoes/new'}">Add New Shoe</a>
            <a class="btn btn-secondary m-2" th:href="@{'/mainpage'}">HomePage</a>
        </div>
    </div>

    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>
    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Shoe Name</th>
                <th>Brand</th>
                <th>Type</th>
                <th>Unit Price</th>
                <th>Available Quantity</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="shoe: ${listShoes}">
                <tr>
                    <td>[[${shoe.id}]]</td>
                    <td>[[${shoe.name}]]</td>
                    <td>[[${shoe.brand}]]</td>
                    <td>[[${shoe.type}]]</td>
                    <td>[[${shoe.unitPrice}]]</td>
                    <td>[[${shoe.availableQuantity}]]</td>
                    <td>
                        <a th:href="@{'/shoes/edit/'+${shoe.id}}" class="btn btn-secondary mr-4">edit</a>
                        <a th:href="@{'/shoes/delete/'+${shoe.id}}" class="btn btn-danger">delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>


<footer class="text-center text-lg-start bg-light text-muted">

    <section
            class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >

        <div class=" d-none d-lg-block">
            <span>Get connected with us :</span>
        </div>

        <div>
            <p>sales@badmintonworld.com | +94 77 592 8309 | 98, Park Road, Colombo-02</p>
        </div>

    </section>

    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" >Skenos Peniel</a>
    </div>

</footer>

</body>
</html>